@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 28% 93%;
    --foreground: 216 3% 30%;

    --card: 0 0% 100%;
    --card-foreground: 216 85% 18%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 3% 18%;

    --primary: 216 28% 93%;
    --primary-foreground: 216 85% 50%;

    --secondary: 216 3% 18%;
    --secondary-foreground:216 28% 93%;

    --muted: 216 85% 30%;
    --muted-foreground: 216 20% 50%;

    --accent: 216 40% 96.1%;
    --accent-foreground: 216 85% 18%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 20 40% 98%;

    --border: 216 3% 20%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 100%;

    --radius: 0rem;
  }

  .dark {
    --background: 192, 13%, 15%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 219, 29%, 70%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-inter
    text-sm
    sm:text-base
    tracking-tight
  }
  h1{
    @apply font-merriweather
    text-foreground
    font-light
    text-3xl
    mb-4
    tracking-tight
  }
  h2{
    @apply font-inter
    text-primary-foreground
    font-medium
    text-2xl
    my-4
  }
  h3{
    @apply font-jetbrains
    text-primary-foreground
    text-lg
    font-thin
    mt-8
    mb-4
  }
  h4{
    @apply text-primary-foreground
  }
  h5{
    @apply font-inter
    text-primary
    text-lg
    text-center
  }
  h6 {
    @apply font-jetbrains text-primary-foreground text-lg font-semibold relative w-[max-content];
    align-items: center;
    display: inline-flex;
  }
  h6 .initial {
    @apply inline-flex relative;
  }
  
  h6 .initial-2 {
    @apply inline-flex relative;
  }

  h6:hover .initial-2 {
    @apply animate-slide-initial;
  }

  h6 .first-name {
    @apply w-0;
    overflow: hidden;
  }
  h6 .last-name {
    @apply w-0;
    overflow: hidden;
  }

  h6:hover .first-name{
    @apply animate-typewriter-first-name;
  }

  h6:hover .last-name{
    @apply animate-typewriter-last-name;
  }
  
  hr{
    @apply my-4
  }
}

.lucide{
  stroke-width: 1px;
}